#center {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    flex-direction: column;
}

#links {
    display: flex;
    justify-content: center;
    align-items: center;
}

#links a {
    margin: 0 10px;
}